.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
   
  }
  
  .label_span {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
  input {
    margin-left: 20px;
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
  
    &:hover {
      background-color: rgb(235, 235, 235);
  
      border-color: rgb(21, 103, 197);
    }
  }
  
  button {
    padding: 10px 15px;
    width: 130px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: black;
    color: inherit;
    font-size: 16px;
    cursor: pointer;

  }
  
  button:hover {
    background-color: rgb(21, 103, 197);
    color: rgb(255, 255, 255);
  }